<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is my site</title>
    <style>
        form{margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;background-color:LightPink;
        width:10cm;height:3.5cm;padding:4px;border-radius:15px;}
       label{ width:100px;display:inline-block;margin:15px;padding:4px,5px;}
       button{width:375px;padding:4px,7px;}
    </style>
</head>
<body>
<h1 style="color:violet;font-size:30;text-align:center";>OPERATORS</h1>
<form action="add/" method="get">
    <label>First number</label>
    <input type="text" name="num1"><br>
     <label> Second number</label>
     <input type="text" name="num2"><br>
    <button type="submit">SUBMIT</button>
</form>

</body>
</html>